.page-container {
	width: 60%;
	margin: 0 auto;
}

.page-header {
	margin: 20 0;
	text-align: center;
}

.header {
	font-family: sans-serif;
	height: 40px;
}

#graph {
	height: 200px;
	min-width: calc(14 * (30px + 2px));
	margin-bottom: 20px;
}

.bar-container {
	height: 150px;
	border-bottom: 2px solid black;
	margin-bottom: 10px
}

.day-col {
	height: 100%;
}

.col {
	text-align: center;
	font-family: sans-serif;
	display: inline-block;
	min-width: 30px;
	width: calc((100% - 28px) / 14);
	position: relative;
	margin: 0 1px 0 1px;
}

.bar {
	background-color: #54D2D2;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.bar::before {
	width: 100%;
	position: absolute;
	height: 16px;
	left: 0;
	top: -16px;
	content: attr(count);
	color: #54D2D2;
	font-weight: bold;
}

.flag-container {
	display: flex;
	width: 740px;
	margin: 0 auto 0 auto;
}

.flag-meta {
	font-family: sans-serif;
	line-height: 1.2rem;
	border: 1px solid #e1e8ed;
	border-radius: 5px;
	margin: 10px;
	flex-basis: 200px;
	padding: 20px;
}