.header {
	font-family: sans-serif;
	height: 40px;
}

#graph {
	height: 200px;
}

.bar-container {
	height: 150px;
	border-bottom: 1px solid rgb(206, 109, 140);
	margin-bottom: 10px
}

.day-col {
	height: 100%;
}

.col {
	text-align: center;
	font-family: sans-serif;
	display: inline-block;
	width: calc((100% - 28px) / 14);
	position: relative;
	margin: 0 1px 0 1px;
}

.bar {
	background-color: rgb(206, 109, 140);
	width: 100%;
	position: absolute;
	bottom: 0;
}
.bar::before {
	width: 100%;
	position: absolute;
	height: 16px;
	left: 0;
	top: -16px;
	content: attr(count);
	color: rgb(206, 109, 140);
	font-weight: bold;
}