{% extends "app_base_generic.html" %}
{% load static %}

{% block title %}{{user.username}}'s Flags - Semaphore{% endblock %}

{% block head %}
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="/static/graph_styles.css" >
{% endblock %}

{% block content %}
<section class='section'>
  <div class='container'>
    <h1 class='title has-text-centered'>Reports by {{user.username}}</h1>
    <div id='graph'>
      <div class="bar-container">
      {% for day in days %}<div class="col day-col">
        <div class="bar" 
             style="height: {{day.count_perc_of_max}}%"
             count="{{day.count}}"></div>
      </div>{% endfor %}
      </div>
      {% for day in days %}<div class="col">
        <div class="label">{{day.date|date:"M j"}}</div>
      </div>{% endfor %}
    </div>

    {% for flag in flags %}
    <div class="box">
      <div class="columns">
        <div class="column is-one-third is-flex is-align-items-center">
          <div class="flag-metadata">
            <p><b>Flagged by:</b> <span>{{flag.flagger.username}}</span></p>
            <p><b>Flagged on:</b> <span>{{flag.created}}</span></p>
          </div>
        </div>
        <div class="column is-two-thirds is-align-items-center">
          <div class="is-flex is-justify-content-center">
            <blockquote class="twitter-tweet m-4">
              <p>Attempting to load <a href="https://twitter.com/{{flag.reported_user_id}}/status/{{flag.reported_tweet_id}}">tweet</a>.</p>
            </blockquote> 
          </div>
        </div>
      </div>  
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}